body{
    color: blue;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: rgb(63, 55, 55);
}
#cabecera{
    background-color: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(187, 183, 183);
    margin: 0 auto;
    background-color: white;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1{
    font-size: 20px;
}
/* #post{
    background-color: white;
    padding: 1em; */
footer{
    background-color: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1px;
    font-size: 10px;
}
footer p{
    display: flex;
    justify-content: center;
}