*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    text-align: left;
    font-family: cursive;
    color: #333;
    font-size: 1.6rem;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
}
#container h1{
    font-size: 2rem;
}
p{
    margin: 10px 0;
}